/* My Styles */


/* Vertical and Horizontal aligment of container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 /* scene */
.scene {
    width: 500px;
    height: 500px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;

    border-radius: 10px; 
    overflow: hidden; 
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(1, 59, 38);
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    color: #ffffff;

    /* hide back face   */
    backface-visibility: hidden;
}

.front {
    background: rgb(1, 87, 55);
}

.back {
    background: rgb(1, 68, 49);
    /* flip it default   */
    transform: rotateY(180deg);
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}

/* Media Query for Mobile */
@media only screen and (max-width: 30em){ 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }

    body {
        display: flex;
        flex-direction: column;
    }
    
}